[submodule "lib/MLX42"]
	path = lib/MLX42
	url = git@github.com:codam-coding-college/MLX42.git
[submodule "src/GNL"]
	path = src/GNL
	url = https://github.com/adiaz-lo/GNL
[submodule "src/src/Libft"]
	path = src/src/Libft
	url = git@github.com:adiaz-lo/Libft.git
